apiVersion: apps/v1
kind: Deployment
metadata:
  name: pdfhub-app
  labels:
    app: pdfhub
spec:
  replicas: 2
  selector:
    matchLabels:
      app: pdfhub
  template:
    metadata:
      labels:
        app: pdfhub
    spec:
      containers:
      - name: pdfhub-container
        image: nexus-service-for-docker-hosted-registry.nexus.svc.cluster.local:8085/2401067/pdfhub:${BUILD_NUMBER}
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8000
        env:
        - name: PYTHONUNBUFFERED
          value: "1"
        - name: DJANGO_SETTINGS_MODULE
          value: "pdfhub.settings"
        - name: MONGO_URI
          value: "mongodb://pdfhub-mongo:27017"
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /
          port: 8000
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
          port: 8000
          initialDelaySeconds: 10
          periodSeconds: 5